main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main>div {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 3%;

}


.estilo-formulario {
    width: 100%;
    max-width: 342px;
    background-color: var(--cor-azul-royal);
    border: var(--borda);
}

#formulario-campos {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.formulario-botao-azul {
    width: 100%;
}

#secao-login {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}


#secao-login>p {
    color: var(--cor-preta);
    font-size: var(--tamanho-fonte-sm);
}

#secao-upload{
    display: none;
}

#upload{
    display: inline-block;
    width: 100%;
    background-color: var(--cor-azul-escuro);
    font-size: var(--tamanho-fonte-sm);
    text-align: center;
    color: var(--cor-branco);
    padding: 10px;
}
